# Python environments and caches
.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Local editor and OS files
.idea/
.DS_Store

# Local plotting/cache directories
.matplotlib/

# Generated Bayesian model outputs
*.pkl
*.nc

# CmdStan/CmdStanPy generated executables and temporary output
/legacy_models/model_1_temperature
/legacy_models/model_1_temperature_prior_predictive
*.dSYM/
*-diagnostic.csv
*-output.csv

/model_1_temperature_studentt
/model_1_temperature_studentt_prior_predictive
/legacy_models/model_1_temperature_studentt
/model_2_temperature_daily_offset
/model_2_temperature_daily_offset_prior_predictive
/opis.md
